.projectsection {
  background: #f5f5f5;
  .heading {
    font-weight: 700;
    font-size: 30px;
    color: #2d2d2d;
  }
  .single-team-member .team-info {
    // background: rgba(0, 0, 0, 0.3);
    background: transparent;
    border-radius: 10px;
    h5 {
      font-weight: 500;
      font-size: 20px;
      opacity: 1;
    }
  }
}
