.aboutus {
  .numbstyle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9b9b9b;
  }
  .icon-text {
    h5 {
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #3d3d3d;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #535353;
    }
  }
  .detailwrape {
    padding: 0 2rem;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 2rem;
    }
  }

  .dot-indicator.owl-theme .owl-dots {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
  }

  .dot-indicator.owl-theme button.owl-dot span {
    width: 35px;
    height: 5px;
    border-radius: 0;
  }
  .dot-indicator.owl-theme button.owl-dot.active span {
    background: #ffffff;
  }
  .lazy-load-image-background.blur.lazy-load-image-loaded {
    width: 100%;
    height: 570px;
    @media (max-width: 1260px) {
      height: 100%;
    }
  }
}
