.whychoose {
  .heading {
    font-weight: 700;
    font-size: 30px;
    color: #2d2d2d;
  }
  .detail {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #535353;
  }
  .enquire-btn {
    color: #fff;
    background: #bda588;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    border: 1px solid #bda588;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 1rem;
    &:hover {
      color: #bda588;
      background: #fff;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
      color: #bda588;
      background: #fff;
    }
  }
}
