.floorplansection {
  color: #ffffff;
  .heading {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    color: #ffffff;
    @media (max-width: 767px) {
      margin-top: 2rem;
    }
  }
  .liststyle {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5px;
  }
  .featureswraper {
    .title {
      font-weight: 400;
      font-size: 14px;
      margin-top: 0.3rem;
      letter-spacing: 5px;
    }
    .featuresheading {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 5px;
    }
    .text-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 70px;
      }
    }
  }
  .arrow-indicator.owl-theme .owl-nav {
    position: unset;
  }
  .arrow-indicator.owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
  .arrow-indicator.owl-theme .owl-nav [class*="owl-"] span {
    font-size: 45px;
    color: #fff;
  }
  .arrow-indicator.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent !important;
  }
  .topdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      display: block;
    }
    .toptitle {
      font-weight: 700;
      font-size: 30px;
      color: #ffffff;
    }
    .btnstyle {
      color: #fff;
      background: transparent;
      font-weight: 600;
      font-size: 15px;
      border-radius: 0;
      padding: 0.5rem 1.5rem;
      border: 0;
      letter-spacing: 5px;
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
      &:hover,
      &.active {
        color: #000000;
        background: #fff;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
        color: #000000;
        background: #fff;
      }
    }
  }
  .btnwrape {
    .bedbtnstyle {
      color: #fff;
      background: transparent;
      font-weight: 400;
      font-size: 15px;
      border-radius: 0;
      padding: 0;
      border: 0;
      //   letter-spacing: 5px;
      &:hover,
      &.active {
        font-weight: 600;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
        font-weight: 600;
      }
    }
  }
}
