.floorplansection {
  color: #ffffff;
  .heading {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    color: #ffffff;
    @media (max-width: 767px) {
      margin-top: 2rem;
    }
  }
  .liststyle {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .featureswraper {
    .title {
      font-weight: 400;
      font-size: 14px;
      margin-top: 0.3rem;
      letter-spacing: 4px;
    }
    .featuresheading {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 5px;
    }
    .text-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 70px;
      }
    }
  }

  .topdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      display: block;
    }
    .toptitle {
      font-weight: 700;
      font-size: 30px;
      color: #ffffff;
    }
    .btnstyle {
      color: #fff;
      background: transparent;
      font-weight: 600;
      font-size: 15px;
      border-radius: 0;
      padding: 0.5rem 1.5rem;
      border: 0;
      letter-spacing: 5px;
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
      &:hover,
      &.active {
        color: #000000;
        background: #fff;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
        color: #000000;
        background: #fff;
      }
    }
  }
  .btnwrape {
    .bedbtnstyle {
      color: #fff;
      background: transparent;
      font-weight: 400;
      font-size: 15px;
      border-radius: 0;
      padding: 0;
      border: 0;
      //   letter-spacing: 5px;
      &:hover,
      &.active {
        font-weight: 600;
      }
      &:focus {
        outline: 0;
        box-shadow: none;
        font-weight: 600;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slick-slider {
    margin-bottom: 3rem;
  }

  .arrowdiv {
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
    position: absolute;
    color: rgba(255, 255, 255, 0.534);
    &:hover,
    &.active {
      color: rgba(255, 255, 255, 1);
    }
  }

  .prevarrow {
    left: 50%;
    bottom: -60px;

    @media (max-width: 767px) {
      left: 37%;
    }
  }

  .nextarrow {
    right: 42%;
    bottom: -60px;

    @media (max-width: 767px) {
      right: 37%;
    }
  }
}
